<div class="leiaut">
    <div class="corpo-01">
        <div class="title">
            <p>APEGA</p>
        </div>
    </div>
    <div class="corpo-02">
        <div class="menu">
            <a routerLink="/"><p>Home</p></a>
            <a routerLink="/gaas"><p>GEAD's</p></a>
            <a routerLink="/faq"><p>FAQ</p></a>
            <a routerLink="/"><p>Agenda</p></a>
            <a routerLink="/"><p>Contatos</p></a>
        </div>
        <div class="social">
            <p><i class="fab fa-facebook icons"></i></p>
            <p><i class="fab fa-instagram icons"></i></p>
            <p><i class="fab fa-twitter icons"></i></p>
            <p><i class="fab fa-youtube icons"></i></p>
        </div>
        <div class="texto">
            <p>©2024 - APEGA. Todos os direitos reservados.</p>
        </div>
    </div>
   
</div>