<div class="leiaut">
    <div class="corpo-01">
        <div class="title">
            <p>Últimas notícias</p>
        </div>
        <div class="texto">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
        </div>
    </div>
    <div class="corpo-02">
        <div class="info">
            <div class="card">
                <div class="b1">
                    <div class="img img1"></div>
                </div>
                <div class="b2">
                    <div class="title">
                        <p>How to Celebrate Halloween From Home</p>
                    </div>
                </div>
                <div class="b3">
                    <div class="texto">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros.
                        </p>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="b1">
                    <div class="img img2"></div>
                </div>
                <div class="b2">
                    <div class="title">
                        <p>Winter Car Seat Safety Tips</p>
                    </div>
                </div>
                <div class="b3">
                    <div class="texto">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros.</p>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="b1">
                    <div class="img img3"></div>
                </div>
                <div class="b2">
                    <div class="title">
                        <p>Mindfulness Activities for Kids & Toddlers</p>
                    </div>
                </div>
                <div class="b3">
                    <div class="texto">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>