.leiaut{
    padding: 50px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.card {
    height: 350px;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    text-align: center;
    font-weight: bolder;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    margin: 20px;
    cursor: pointer;
}

.card:hover{
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}
.card p{
    padding: 10px 0;
}

.card img{
    width: 100%;
}