<div class="leiaut">
    <div class="card">
        <div class="b1">
            <div class="img">
                <img src="../../../assets/geads/1.png" alt="">
            </div>
            <div class="title">
                <p>GEAD (Recife)</p>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="b1">
            <div class="img">
                <img src="../../../assets/geads/2.png" alt="">
            </div>
            <div class="title">
                <p>Gead (Olinda)</p>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="b1">
            <div class="img">
                <img src="../../../assets/geads/3.png" alt="">
            </div>
            <div class="title">
                <p>Gaagra</p>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="b1">
            <div class="img">
                <img src="../../../assets/geads/4.png" alt="">
            </div>
            <div class="title">
                <p>GAFA</p>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="b1">
            <div class="img">
                <img src="../../../assets/geads/5.png" alt="">
            </div>
            <div class="title">
                <p>GAAP (Paulista)</p>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="b1">
            <div class="img">
                <img src="../../../assets/geads/6.png" alt="">
            </div>
            <div class="title">
                <p>GAAP (Caruaru)</p>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="b1">
            <div class="img">
                <img src="../../../assets/geads/7.png" alt="">
            </div>
            <div class="title">
                <p>Recomeçar</p>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="b1">
            <div class="img">
                <img src="../../../assets/geads/8.png" alt="">
            </div>
            <div class="title">
                <p>GEADIP</p>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="b1">
            <div class="img">
                <img src="../../../assets/geads/9.png" alt="">
            </div>
            <div class="title">
                <p>GAA</p>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="b1">
            <div class="img">
                <img src="../../../assets/geads/1.png" alt="">
            </div>
            <div class="title">
                <p>GEAD (Recife)</p>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="b1">
            <div class="img">
                <img src="../../../assets/geads/1.png" alt="">
            </div>
            <div class="title">
                <p>GEAD (Recife)</p>
            </div>
        </div>
    </div>
</div>