.leiaut .header {
    height: 70vh;
    background-image: url('../../../assets/bk-1.jpg');
    background-size: cover;
    background-position: center;
}

.leiaut .corpo-01 {
    padding: 50px 0;
    text-align: center;
    background: #e6e6e6;
}

.leiaut .corpo-01 .title p {
    font-size: 40px;
    color: #2D4191;
    font-weight: bolder;
}

.leiaut .corpo-01 .texto {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 0;
}

.leiaut .corpo-01 .texto p {
    font-size: 20px;
    color: #2D4191;
    width: 60%;
    margin: auto;
    line-height: 2;
}

.corpo-02 {
    padding: 50px 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.corpo-02 .card {
    height: 350px;
    width: 350px;

    border: 2px solid #2D4191;
    border-radius: 20px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.corpo-02 .card .title p {
    font-size: 30px;
    color: #c41717;
    font-weight: bolder;
}

.corpo-02 .card .texto p {
    font-size: 19px;
    width: 90%;
    margin: auto;
    margin-top: 20px;
}

.icons {
    color: #c41717;
    font-size: 100px;
    margin: 30px 0;
}


@media (max-width: 800px) {
    .leiaut .corpo-01 .texto p {
        font-size: 18px;
        color: #2D4191;
        width: 90%;
        margin: auto;
        line-height: 1.5;
    }
}