<div class="leiaut">
    <div class="header"></div>
    <div class="corpo-01">
        <div class="title">
            <p>Quem somos</p>
        </div>
        <div class="texto">
            <p>O APEGA (Associação Pernambucana de Grupos de Apoio à Adoção) está em constituição, fruto da articulação
                entre os grupos de apoio à adoção do Estado de Pernambuco em 2020.</p>
        </div>
    </div>
    <div class="corpo-02">
        <div class="card">
            <i class="fas fa-bullseye icons"></i>
            <div class="title">
                <p>Missão</p>
            </div>
            <div class="texto">
                <p>Amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
            </div>
        </div>
        <div class="card">
            <i class="fas fa-eye icons"></i>
            <div class="title">
                <p>Valores</p>
            </div>
            <div class="texto">
                <p>Amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
            </div>
        </div>
        <div class="card">
            <i class="fas fa-heart icons"></i>
            <div class="title">
                <p>Visão</p>
            </div>
            <div class="texto">
                <p>Amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
            </div>
        </div>
    </div>
</div>